DATABASE="mongodb+srv://username:password@cluster0.q1o5a.mongodb.net/db-name"
JWT_SECRET="CHUOINGAUNHIEN"
EMAIL_USER="youremail@gmail.com"
EMAIL_PASS="mật khẩu ứng dụng"
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""